<% # app/views/quotes/_total.html.erb
%>

<!-- this first is invisible dunno why -->
<footer class="quote-total">
  <div class="quote-total__inner container">
    <div>Quote Total value:
      <u><%= number_to_currency quote.total_price %></u>
      </div>
  </div>
</footer>
